$font-main: "Lato", sans-serif;
$font-display: "Courgette", cursive;

.hero {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: #efefef;
    padding-bottom: 5vh;

    h2{
        text-align: center;
        font-size: 4vh;
        font-family: $font-display;
    }

    .content{
        margin: 0 2px;
        h2{
            display: none;
        }
        a{
            color: black;
            text-decoration: underline;
        }
    }
}

.buttons {
    .left {
        background: url("../gfx/house1.png");
        background-size: cover;
        background-position: center;
    }

    .right {
        background: url("../gfx/contact.png");
        background-size: cover;
        background-position: center;
    }
}